# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Env
.env
venv/
.env.local
.env.production
.env.development

# Django stuff
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
